/*背景*/
::-webkit-scrollbar-track-piece{
	background-color:rgba(0,0,0,0);
	-webkit-border-radius:0;
}
/*宽高*/
::-webkit-scrollbar{
	width:1px;
	height:1px;
}
/*宽高*/
::-webkit-scrollbar-thumb{
	height:50px;
	background-color:rgba(0,0,0,0);
	-webkit-border-radius:4px;
	outline:2px solid rgba(0,0,0,0);;
	outline-offset:-2px;
	border: 2px solid rgba(0,0,0,0);;
}
/*悬浮*/
::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#123;
	-webkit-border-radius:4px;
}
body{
	zoom: 1;
	padding: 0px;
	margin: 0px;
	background-color: #000;
}
#bg{
	position: relative;
	margin: auto; 
	width: 960px;
	height: 610px;
	overflow-x:auto;
	overflow-y:hidden;
}
#bgpart{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 1200px;
	height: 610px;
	background-size: 1200px 610px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/animal/bg.jpg);
}
#bgpart{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 1200px;
	height: 610px;
	background-size: 1200px 610px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/animal/bg.jpg);
}

/*此处算一个模块*/
@-webkit-keyframes whale {
	0% {background-position:0px -0%;}
	100% {background-position:0px -1100%;}/*此处是gif有多少个图的100倍%*/
}
#whale {
	position: absolute;
	top: 140px;left: 140px;/*图片的位置*/
	height:306px;width:454px;/*图片的高和长*/
	transform: scale(0.25);/*图片缩放的倍数*/
	-webkit-animation:whale 1100ms steps(11) infinite;/*注意！！！ whale 是@keyframe 后的名字 1100ms 是速度 steps(11)是gif有多少个图*/
	background:url(../img/animal/whale.png);/*图片的位置*/
	-webkit-animation-play-state:paused;
}
/****************************/
@-webkit-keyframes lion {
	0% {background-position:0px -0%;}
	100% {background-position:0px -900%;}/*此处是gif有多少个图的100倍%*/
}
#lion {
	position: absolute;
	top: 250px;left: 440px;/*图片的位置*/
	height:313px;width:392px;/*图片的高和长*/
	transform: scale(0.25);/*图片缩放的倍数*/
	-webkit-animation:lion 900ms steps(9) infinite;/*注意！！！ whale 是@keyframe 后的名字 1100ms 是速度 steps(11)是gif有多少个图*/
	background:url(../img/animal/lion.png);/*图片的位置*/
	-webkit-animation-play-state:paused;
}