/*背景*/
::-webkit-scrollbar-track-piece{
	background-color:rgba(0,0,0,0);
	-webkit-border-radius:0;
}
/*宽高*/
::-webkit-scrollbar{
	width:1px;
	height:1px;
}
/*宽高*/
::-webkit-scrollbar-thumb{
	height:50px;
	background-color:rgba(0,0,0,0);
	-webkit-border-radius:4px;
	outline:2px solid rgba(0,0,0,0);;
	outline-offset:-2px;
	border: 2px solid rgba(0,0,0,0);;
}
/*悬浮*/
::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#123;
	-webkit-border-radius:4px;
}
body{
	zoom: 1;
	padding: 0px;
	margin: 0px;
	background-color: #000;
}
#bg{
	position: relative;
	margin: auto; 
	width: 960px;
	height: 610px;
	overflow-x:auto;
	overflow-y:hidden;
}
#bgpart{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 1200px;
	height: 610px;
	background-size: 1200px 610px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/animal/bg.jpg);
}
#bgpart{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 1200px;
	height: 610px;
	background-size: 1200px 610px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/house/map.png);
}

/*此处算一个模块*/
@-webkit-keyframes liberty {
	0% {background-position:0px -0%;}
	100% {background-position:0px -1200%;}
}
#america {
	position: absolute;
	top: 19px;
	left: 121px;
	width: 129px;
	height: 343px;
	transform: scale(0.4);
	-webkit-animation: liberty 1100ms steps(12) infinite;
	background: url(../img/house/gif/Liberty/129x343_12.png);
	-webkit-animation-play-state: paused;
}
/****************************/
/*此处算一个模块*/
@-webkit-keyframes nc {
	0% {background-position:0px -0%;}
	100% {background-position:0px -1200%;}
}
#nc {
	position: absolute;
	top: -166px;
	left: 97px;
	width: 224px;
	height: 487px;
	transform: scale(0.3);
	-webkit-animation: nc 1100ms steps(12) infinite;
	background: url(../img/house/gif/CNN/224x487_12.png);
	-webkit-animation-play-state: paused;
}
/****************************/
/****************************/
/*此处算一个模块*/
@-webkit-keyframes opera {
	0% {background-position:0px -0%;}
	100% {background-position:0px -1000%;}
}
#opera {
	position: absolute;
	top: 411px;
	left: 847px;
	width: 378px;
	height: 140px;
	transform: scale(0.4);
	-webkit-animation: opera 1100ms steps(10) infinite;
	background: url(../img/house/gif/opera/378x140_10.png);
	-webkit-animation-play-state: paused;
}
/****************************/

@-webkit-keyframes palace {
	0% {background-position:0px -0%;}
	100% {background-position:0px -2100%;}
}
#palace {
	position: absolute;
	top: 173px;
	left: 707px;
	width: 425px;
	height: 200px;
	transform: scale(0.25);
	-webkit-animation: palace 2000ms steps(21) infinite;
	background: url(../img/house/gif/palace/425x200_21.png);
	-webkit-animation-play-state: paused;
}
/****************************/
@-webkit-keyframes taiji {
	0% {background-position:0px -0%;}
	100% {background-position:0px -1000%;}
}
#taiji {
	position: absolute;
	top: 284px;
	left: 780px;
	width: 251px;
	height: 159px;
	transform: scale(0.4);
	-webkit-animation: taiji 1200ms steps(10) infinite;
	background: url(../img/house/gif/taiji/251x159_10.png);
	-webkit-animation-play-state: paused;
}
/****************************/

#ben{
    position: absolute;
    left: 590px;
    top: 70px;
    width: 18px;
    height: 93px;
    background-size: 18px 93px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/house/ben.png);
}
#church{
    position: absolute;
    left: 842px;
    top: 38px;
    width: 93px;
    height: 105px;
    background-size: 93px 105px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/house/church.png);
}


#france{
    position: absolute;
    left: 720px;
    top: 100px;
    width: 85px;
    height: 73px;
    background-size: 85px 73px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/house/france.png);
}
#jesus{
    position: absolute;
    left: 314px;
    top: 448px;
    width: 71px;
    height: 91px;
    background-size: 71px 91px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/house/jesus.png);
}
#jinzita{
    position: absolute;
    left: 570px;
    top: 299px;
    width: 129px;
    height: 56px;
    background-size: 129px 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/house/jinzita.png);
}
#pyramid{
    position: absolute;
    left: 297px;
    top: 342px;
    width: 127px;
    height: 63px;
    background-size: 127px 63px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/house/pyramid.png);
}

#roman{
    position: absolute;
    left: 556px;
    top: 170px;
    width: 110px;
    height: 73px;
    background-size: 110px 73px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/house/roman.png);
}
#tower{
    position: absolute;
    left: 620px;
    top: 83px;
    width: 85px;
    height: 73px;
    background-size: 35px 73px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/house/tower.png);
}