body{
	zoom: 1;
	padding: 0px;
	margin: 0px;
	background-color: #000;
}
#bg{
	position: relative;
	margin: auto; 
	width: 960px;
	height: 640px;
	background-size: 960px 640px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/load/loadingback.jpg);
	background-color: #000;
}

#ldb{
	position: absolute;
	top: 340px;
	left: 320px;
	width: 350px;
	height: 35px;
	background-size: 350px 35px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/load/loading1.png);
}
#ld{
	position: absolute;
	left: 4px;
	top: 4px;
	width: 0px;
	height: 26px;
	background-size: 342px 26px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/load/loading2.png);
}
