/**/
::-webkit-scrollbar-track-piece{
	background-color:rgba(0,0,0,0);
	-webkit-border-radius:0;
}
/*瀹介*/
::-webkit-scrollbar{
	width:1px;
	height:1px;
}
/*瀹介*/
::-webkit-scrollbar-thumb{
	height:50px;
	background-color:rgba(0,0,0,0);
	-webkit-border-radius:4px;
	outline:2px solid rgba(0,0,0,0);;
	outline-offset:-2px;
	border: 2px solid rgba(0,0,0,0);;
}
/*娴*/
::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#123;
	-webkit-border-radius:4px;
}
body{
	zoom: 1;
	padding: 0px;
	margin: 0px;
	background-color: #000;
}
#bg{
	position: relative;
	margin: auto; 
	width: 960px;
	height: 610px;
	overflow-x:auto;
	overflow-y:hidden;
}
#bgpart{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 1200px;
	height: 610px;
	background-size: 1200px 610px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/plant/map.jpg);
}
#bgpart{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 1200px;
	height: 610px;
	background-size: 1200px 610px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/plant/map.jpg);
}



/*此处算一个模块*/
@-webkit-keyframes fs {
	0% {background-position:0px -0%;}
	100% {background-position:0px -1000%;}/*此处是gif有多少个图的100倍%*/
}
#fs {
	position: absolute;
	top: -210px;left: -318px;/*图片的位置*/
	height:691px;width:922px;/*图片的高和长*/
	transform: scale(0.1);/*图片缩放的倍数*/
	-webkit-animation:fs 1500ms steps(10) infinite;/*注意！！！ whale 是@keyframe 后的名字 1100ms 是速度 steps(11)是gif有多少个图*/
	background:url(../img/plant/fs/922x691_10.png);/*图片的位置*/
	-webkit-animation-play-state:paused;
}


/****************************/



/*此处算一个模块*/
@-webkit-keyframes xrz {
	0% {background-position:0px -0%;}
	100% {background-position:0px -900%;}/*此处是gif有多少个图的100倍%*/
}
#xrz {
	position: absolute;
	top: 14px;left: 13px;/*图片的位置*/
	height:659px;width:630px;/*图片的高和长*/
	transform: scale(0.17);/*图片缩放的倍数*/
	-webkit-animation:xrz 1100ms steps(9) infinite;/*注意！！！ whale 是@keyframe 后的名字 1100ms 是速度 steps(11)是gif有多少个图*/
	background:url(../img/plant/xrz/630x659_9.png);/*图片的位置*/
	-webkit-animation-play-state:paused;
}


/****************************/



#bhs{
	position: absolute;
	left: 861px;
	top: 78px;
	width: 78px;
	height: 84px;
	background-size: 78px 84px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/bhs.png);
}


#rs{
	position: absolute;
	left: 915px;
	top: 231px;
	width: 40px;
	height: 60px;
	background-size: 40px 60px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/rs.png);
}


#dyz{
	position: absolute;
	left: 280px;
	top: 485px;
	width: 71.3px;
	height: 75px;
	background-size: 71.3px 75px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/dyz.png);
}

#kf{
	position: absolute;
	left: 380px;
	top: 335px;
	width: 67px;
	height:69px;
	background-size: 67px 69px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/kf.png);
}

#hss{
	position: absolute;
	left: 250px;
	top: 135px;
	width: 98.76px;
	height:103.2px;
	background-size: 98.76px 103.2px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/hss.png);
}

#yhzc{
	position: absolute;
	left: 390px;
	top: 75px;
	width: 41.5px;
	height:65px;
	background-size: 41.5px 65px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/yhzc.png);
}

#xrq{
	position: absolute;
	left: 660px;
	top: 345px;
	width: 35.7px;
	height:42.7px;
	background-size: 35.7px 42.7px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/xrq.png);
}

#jpyzs{
	position: absolute;
	left: 970px;
	top: 405px;
	width: 84.84px;
	height:91.2px;
	background-size: 84.84px 91.2px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/jpyzs.png);
}

/*此处算一个模块*/
@-webkit-keyframes xjs {
	0% {background-position:0px -0%;}
	100% {background-position:0px -800%;}/*此处是gif有多少个图的100倍%*/
}
#xjs {
	position: absolute;
	top: 47px;left: 388px;/*图片的位置*/
	height:749px;width:494px;/*图片的高和长*/
	transform: scale(0.16);/*图片缩放的倍数*/
	-webkit-animation:xjs 1100ms steps(8) infinite;/*注意！！！ whale 是@keyframe 后的名字 1100ms 是速度 steps(11)是gif有多少个图*/
	background:url(../img/plant/xjs/494x749_8.png);/*图片的位置*/
	-webkit-animation-play-state:paused;
}


#mbs{
	position: absolute;
	left: 550px;
	top: 255px;
	width: 84.84px;
	height:91.2px;
	background-size: 84.84px 91.2px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/mbs.png);
}



#mbss{
	position: absolute;
	left: 590px;
        top: 290px;
	width: 53px;
	height:57px;
	background-size: 53px 57px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/mbss.png);
}

/*此处算一个模块*/
@-webkit-keyframes xs {
	0% {background-position:0% 0px;}
	100% {background-position: -1100% 0px;}/*此处是gif有多少个图的100倍%*/
}
#xs {
	position: absolute;
	top: -38px;left: 410px;/*图片的位置*/
	height:354px;width:472px;/*图片的高和长*/
	transform: scale(0.22);/*图片缩放的倍数*/
	-webkit-animation:xs 1500ms steps(11) infinite;/*注意！！！ whale 是@keyframe 后的名字 1100ms 是速度 steps(11)是gif有多少个图*/
	background:url(../img/plant/xs/472x354_11.png);/*图片的位置*/
	-webkit-animation-play-state:paused;
}


/*此处算一个模块*/
@-webkit-keyframes yhs {
	0% {background-position:0px -0%;}
	100% {background-position:0px -600%;}/*此处是gif有多少个图的100倍%*/
}
#yhs {
	position: absolute;
	top: 120px;left: 900px;/*图片的位置*/
	height:228px;width:243px;/*图片的高和长*/
	transform: scale(0.45);/*图片缩放的倍数*/
	-webkit-animation:yhs 1100ms steps(6) infinite;/*注意！！！ whale 是@keyframe 后的名字 1100ms 是速度 steps(11)是gif有多少个图*/
	background:url(../img/plant/yhs/243x228_6.png);/*图片的位置*/
	-webkit-animation-play-state:paused;
}



/*此处算一个模块*/
@-webkit-keyframes zz {
	0% {background-position:0px -0%;}
	100% {background-position:0px -200%;}/*此处是gif有多少个图的100倍%*/
}
#zz {
	position: absolute;
	top: 80px;left: 620px;/*图片的位置*/
	height:400px;width:550px;/*图片的高和长*/
	transform: scale(0.25);/*图片缩放的倍数*/
	-webkit-animation:zz 1100ms steps(2) infinite;/*注意！！！ whale 是@keyframe 后的名字 1100ms 是速度 steps(11)是gif有多少个图*/
	background:url(../img/plant/zz/550X400_2.png);/*图片的位置*/
	-webkit-animation-play-state:paused;
}


/*此处算一个模块*/
@-webkit-keyframes yzs {
	0% {background-position:0px -0%;}
	100% {background-position:0px -300%;}/*此处是gif有多少个图的100倍%*/
}
#yzs {
	position: absolute;
	top: 180px;left: 784px;/*图片的位置*/
	height:362px;width:300px;/*图片的高和长*/
	transform: scale(0.2);/*图片缩放的倍数*/
	-webkit-animation:yzs 1100ms steps(3) infinite;/*注意！！！ whale 是@keyframe 后的名字 1100ms 是速度 steps(11)是gif有多少个图*/
	background:url(../img/plant/yzs/300x362_3.png);/*图片的位置*/
	-webkit-animation-play-state:paused;
}

#zys{
	position: absolute;
	left: 680px;
        top: 268px;
	width: 64.7px;
	height:66.7px;
	background-size: 64.7px 66.7px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/plant/zys.png);
}
